<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <ul>
        <li th:if="${file_name}">
            <a th:href="${getCurrentFileUrl}" th:text="${file_name}" />
            <button type="button" onclick="showVideo()">Video</button>
        </li>
        <li id="showVideo" th:if="${file_name}" style="display: none">
            <video th:src="${getCurrentFileUrl}" width="320" height="240" controls="controls">
                Your browser does not support the audio tag.
            </video>
        </li>
    </ul>
</div>
<script>
    function showVideo() {
        document.getElementById("showVideo").style.display="list-item";
    }
</script>
</body>
</html>
