<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div>
		<h2 th:text="FileServer"/>
	</div>

	<div>
		<h2>上传文件</h2>
		<form method="POST" enctype="multipart/form-data" th:action="${insertUrl}">
			<table>
				<tr><td>File ID:</td><td><input type="text" name="id" /></td></tr>
				<tr><td>Access Code:</td><td><input type="text" name="access_code" /></td></tr>
				<tr><td>New File Name:</td><td><input type="text" name="file_name" /></td></tr>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Insert" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<h2>获取文件</h2>
		<form method="POST" enctype="multipart/form-data" th:action="${indexUrl}">
			<table>
				<tr><td>File ID:</td><td><input type="text" name="id" /></td></tr>
				<tr><td>Access Code:</td><td><input type="text" name="access_code" /></td></tr>
				<tr><td></td><td><input type="submit" value="Get" /></td></tr>
			</table>
		</form>
		<iframe th:if="${showFileUrl}" th:src="${showFileUrl}" width="600" height="300">No Content</iframe>
	</div>

	<div>
		<h2>更新文件</h2>
		<form method="POST" enctype="multipart/form-data" th:action="${updateUrl}">
			<table>
				<tr><td>File ID:</td><td><input type="text" name="id" /></td></tr>
				<tr><td>Access Code:</td><td><input type="text" name="access_code" /></td></tr>
				<tr><td>New Access Code:</td><td><input type="text" name="new_access_code" /></td></tr>
				<tr><td>New File Name:</td><td><input type="text" name="file_name" /></td></tr>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Update" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<h2>删除文件</h2>
		<form method="POST" enctype="multipart/form-data" th:action="${removeUrl}">
			<table>
				<tr><td>File ID:</td><td><input type="text" name="id" /></td></tr>
				<tr><td>Access Code:</td><td><input type="text" name="access_code" /></td></tr>
				<tr><td></td><td><input type="submit" value="Delete" /></td></tr>
			</table>
		</form>
	</div>

	<script>
        function showVideo() {
            document.getElementById("showVideo").style.display="list-item";
        }
	</script>

</body>
</html>
